*{
    background-color: aliceblue;
    font-family: 'Cinzel', serif;
    color: #fab41c;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 1fr;
    margin: 0;
    font-family: sans-serif;
    
} 

nav {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-content: center;
  height: 70px;
  background-color: #030591;

}
nav > div{
  font-size: 40px;
  margin: 10px 30px;
  background-color: #030591;
  color: #fab41c;
}
nav > div:last-child {
  margin-left: auto;
  font-size: 20px;
}

.mainDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}
.badGuySprite {

    /* background-image: url(../imgs/giantBee.png);
    background-size:85vw;
    background-position-x: -27vw;
    background-position-y: -38vh; */
    grid-area: 1/5/6/7;
}
.attackResultDisplayGood{
    background-color: #f55252;
    grid-area: 7/3/8/4;
}
.attackResultDisplayBad{
    background-color: #18bd08;
    grid-area: 1/4/2/5;
}
.badGuyHealth {
    background-color:transparent;
    grid-area: 5/5/6/7;
    display: flex;
    justify-content: center;
    align-items: center;

}
.goodGuySprite {
    grid-area: 7/1/10/3;
}
.goodGuyHealth{
    display: flex;
    background-color:transparent;
    justify-content: center;
    align-items: center;
    grid-area: 9/1/10/2;
}
.inputBar{
    grid-area: 10/1/11/7;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.meleeButtonDiv {
    grid-area: 1/1/2/2;
}
.meleeButton{
    height: 100%;
    width: 100%;
    background-color: #030591;
    font-size:2em;
}
.rangedButtonDiv {
    grid-area: 1/2/2/3;
}
.rangedButton{
    height: 100%;
    width: 100%;
    background-color: #030591;
    font-size:2em;
}.spellButtonDiv {
    grid-area: 1/3/2/4;
}
.spellButton{
    height: 100%;
    width: 100%;
    background-color: #030591;
    font-size:2em;
}
.runDiv {
    grid-area: 1/6/2/7;
}
.runButton {
    height: 100%;
    width: 100%;
    background-color: #030591;
    font-size:3em;
}
.logo {
    background-color: #99013b;
    grid-area: 1/4/2/6;
}
#badGuyHealthMeter {
    display: block;
    width: 90%;
    height: 25px;
    background: none;
    margin: 0 auto;
}
#goodGuyHealthMeter {
    display: block;
    width: 90%;
    height: 25px;
    background: none;
    margin: 0 auto;

}
@media (max-width: 600px) {
    .badGuySprite {
        grid-area: 1/4/6/7;
    }
    .attackResultDisplayBad{
        background-color: #18bd08;
        grid-area: 1/2/2/4;
    }
    .goodGuySprite {
        grid-area: 7/1/10/4;   
    }
    .attackResultDisplayGood{
        background-color: #f55252;
        grid-area: 7/4/8/5;
    }
    .badGuyHealth {
        grid-area: 6/4/6/7;
    }
}